.hoverable:hover{
    -webkit-box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
}
/* 
.navbar{
    -webkit-box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 12px 1px rgba(0,0,0,0.75);
} */
.side-bar{
    height:695px;
    width:30%;
    float: left;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px solid gray; */
    /* background-color: rgba(201, 200, 200, 0.726); */
}
.top-banner{
    /* background-color:gray; */
    height: 200px; 
    margin-top: 60px;
    margin-bottom: 0px;
    border: .5px dashed lightsteelblue;
    /* display: none; */
}

.brand{
    height: 300px; 
    width:90%;
    margin-top: 20px;
    border: .5px dashed lightsteelblue;
    
}